/*.image{
    width:200px;
    height:200px
}*/

#responsive{
    width:200px;
   height:200px;
  /* min-height:20;
   max-height:50 ; 
*/

}
/*
#vertical-align{
    display:flex;
    align-items: center;
    
} 
    */